@inject ConnectionStringHolder connectionStringHolder
@inject MessageBroker messageBroker

<div class="row">
  <div class="col">
    <h3>Members</h3>
  </div>
  <div class="col text-end">
    <button type="button" class="btn btn-outline-success btn-sm" style="margin-left: 0.5rem" @onclick="() => OpenNewView()">New View</button>
  </div>
</div>

<hr />

<EditForm Model="@currentMember">
  <div class="row">
    <div class="col">
      <InputText @bind-Value="currentMember.FirstName" class="form-control" placeholder="First name" />
    </div>
    <div class="col">
      <InputText @bind-Value="currentMember.LastName" class="form-control" placeholder="Last name" />
    </div>
    <div class="col">
      <InputText @bind-Value="currentMember.Address" class="form-control" placeholder="Address" />
    </div>
    <div class="col">
      @if (currentMember.Id > 0)
      {
        <button type="button" class="btn btn-outline-primary btn-sm" @onclick="() => UpdateMember()">Update</button>
      }
      else
      {
        <button type="button" class="btn btn-outline-primary btn-sm" @onclick="() => AddMember()">Add</button>
      }

      <button type="button" class="btn btn-outline-success btn-sm" style="margin-left: 0.5rem" @onclick="() => ClearMember()">Clear</button>
    </div>
  </div>
</EditForm>

<hr />

@if (members == null)
{
  <p><em>Loading...</em></p>
}
else
{
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Address</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var member in members)
      {
        <tr>
          <th scope="row">@member.Id</th>
          <td>@member.FirstName</td>
          <td>@member.LastName</td>
          <td>@member.Address</td>
          <td>
            <button type="button" class="btn btn-outline-primary btn-sm" @onclick="() => EditMember(member)">Edit</button>
            <button type="button" class="btn btn-outline-danger btn-sm" @onclick="() => DeleteMember(member)">Delete</button>
          </td>
        </tr>
      }
    </tbody>
  </table>
}


@code {
  private MemberRepository memberRepository = null;
  private List<Member> members = null;
  private Member currentMember = new();

  protected override void OnInitialized()
  {
    memberRepository = new MemberRepository(connectionStringHolder.ConnectionString);
    messageBroker.DatabaseChangedEvent += StateChanged;
    StateChanged(this, null);
  }

  public void Dispose()
  {
    messageBroker.DatabaseChangedEvent -= StateChanged;
  }

  public void StateChanged(object sender, EventArgs e)
  {
    members = memberRepository.ReadAllMembres();
    StateHasChanged();
  }

  private void EditMember(Member member)
  {
    currentMember = member;
    messageBroker.EditMember(member.Id);
  }

  private void DeleteMember(Member member)
  {
    messageBroker.DeleteMember(member.Id);
  }

  private void AddMember()
  {
    messageBroker.AddMember(currentMember);
    currentMember = new();
  }

  private void UpdateMember()
  {
    messageBroker.UpdateMember(currentMember);
    currentMember = new();
  }

  private void ClearMember()
  {
    messageBroker.ClearMember();
    currentMember = new();
  }

  private void OpenNewView()
  {
    messageBroker.OpenNewView();
  }
}
